@media only screen and (max-width: 764px) {
  .cloud {
    position: absolute;
    right: 40px;
    top: 61px; }
  .cloudlogo {
    width: 100%; }
  .login-box {
    margin-top: -268px; }
  .signin-cloudlogo > img {
    width: 150px !important; } }

.ui.teal.header {
  color: #ffffff !important; }

.login-box {
  margin-top: -246px; }

.register-box {
  margin-top: -259px; }

.signin-cloudlogo > img {
  width: 250px !important; }

.ui.input > input {
  color: #f9f4f4; }

.ui.form input[type=text], .ui.form input[type=text]:focus {
  color: #ffffff; }

.ui.input.error > input {
  background-color: #e77c7c !important; }

.ui.input.focus > input, .ui.input > input:focus {
  color: #ffffff; }

.ui.primary.button {
  min-width: 15px; }

.ui.grid {
  min-width: 372px; }

.ui.grid > .row > .column {
  margin-bottom: 10px; }

.ui.table td.positive, .ui.table tr.positive {
  padding-left: 10px;
  background: #f5f7ff !important;
  color: #408af3 !important; }

.ui.form {
  font-size: 14px; }

.cloud {
  position: absolute;
  right: 140px;
  top: 65px;
  animation: cloud-drift infinite 50s ease; }

button.ui.primary.button.new-project-button {
  background-color: #025fe2; }

.masthead {
  min-height: 245px;
  background: #408AF3;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem; }
  .masthead h1 {
    font-size: 40px;
    color: #FFFFFF; }

.masthead.small {
  min-height: 100px;
  margin-bottom: 4rem; }

@media only screen and (max-width: 748px) {
  .cloud {
    position: absolute;
    right: 40px;
    top: 70px; }
  .cloudlogo {
    width: 90%; }
  .masthead {
    min-height: 265px; } }

@media only screen and (max-width: 748px) {
  .ui.container {
    width: 100% !important; } }

@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) thead {
    display: none; } }

@keyframes cloud-drift {
  0% {
    transform: translate(0%, 0px); }
  50% {
    transform: translate(15%, 0px); }
  100% {
    transform: translate(0%, 0px); } }
